extends ../layouts/main.pug
block content 
    .container 
        p default font: Lorem ipsum dolor sit amet.
        h1 default title: Lorem ipsum dolor sit amet.
        button.btn.btn-primary(type='submit') Submit
        div 
            input(type="text")
            p a(href="#") default link: Lorem, ipsum dolor.