// Container
$containerWidth: 1200px;
$containerPadding: 48px;
//Breakpoints
$breakpoint1458: 1449.98px;
$breakpoint992: 991.98px;
$breakpoint768: 767.98px;
$breakpoint480: 479.98px;
// Colors
$mainColor: #131418;
//font
$font-default: "Inter", sans-serif;